@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// font family
$titles-font: "Poppins", sans-serif;
$text-font: "Rubik", sans-serif;

// sizes
$h1-size: 5.2rem;
$h2-size: 4.2rem;
$h3-size: 2.4rem;
$h4-size: 2.2rem;
$p-size: 1.6rem;
$input-size: 1.4rem;